/* .react-logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.react-logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.aaa {
  width: auto;
  height: 100px;
  background-color: aliceblue;
}

.AppDiv {
  color: brown;
}

.title {
  text-align: center;
  margin: 0;
  padding-top: 18rem;
  font-size: 36px;
}

.description {
  margin: 32px 0 0 0;
  padding: 0;
  text-align: center;
  font-size: 16px;
}

.list {
  margin: 16px 0 0 0;
  padding: 0;
  text-align: center;
  font-size: 16px;
}

.listItem:first-child {
  padding: 0;
}

.listItem {
  padding: 8px 0 0 0;
}